/* Colors */
$paradiso: #3c948b;
$mine-shaft: #343434;
$dixie: #E1991C;
$royal-blue: #3b78e7;
$cornflower-blue: #EEE;
$lochmara: #0078D7;
$alizarin-crimson: #ED3130;

/* Times */
$short-time: .5s;
$default-time: 1s;

/* Border */
$common-border: 10px;


/*Colors */
$blue: #00d8ff;
$gray: #2D2D2D;

html,
body {
  min-width: 500px;
  min-height: 500px;
  background-color: $gray;
  color: white;
}

* {
  font-family: 'Roboto', Helvetica !important;
}

h1, h2, h3, h4, h5, h6, a {
  color: $blue;
}

h1 {
  font-size: 67px !important;
}

h2 {
  font-size: 60px !important;
}

.image-logo {
  height: auto;
  width: 100px;
}
















 .files-concat {
   vertical-align: middle !important;
   span {
     font-size: 72px;
     line-height: 75px;
     &:last-child {
       color: green;
     }
   }
 }



blockquote {
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  background: transparent !important;
  box-shadow: none !important;
  border-left: 3px solid $dixie !important;
}

div, p {
  font-size: 26px !important;
}
p, ul, dl, ol {
  text-align: left;
}

ul, ol, dl {
  display: block !important;
}

li, dt {
  list-style: none;
  position: relative;
  &:before {
    content: ' ';
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 6px;
    position: absolute;
    background: $dixie;
    top: 11px;
    left: -15px
  }
}

dt {
  color: $lochmara;
}

a {
  text-decoration: none;
}

.example {
  border-radius: $common-border;
  border-left:  5px solid $royal-blue !important;
  padding: 20px !important;
  text-align: center;
  background-color: $cornflower-blue;
  color: $royal-blue !important;
}

.img-resposive {
  display: block;
  width: 100%;
  max-width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .col-12 {
    flex-basis: 100%;
  }
  .col-6 {
    flex-basis: 50%;
  }
  .col-4 {
    flex-basis: 25%;
  }
}

.wait {
  color: white;
  &.green { background: green; }
  &.blue { background: blue; }
  &.red { background: red; }
}


.align-left {
  text-align: left;
}

.about {
  padding-top: 50px !important;
}

.cool_glasses {
  top: 0;
  left: 11.5%;
  position: absolute;
  width: 202px;
  opacity: 0;
  transition: top 5s ease, opacity 5s ease;
  .slides .present & {
    top: 45%;
    opacity: 1;
  }
}


.special-links {
  position: relative;
  display: inline-block;
  z-index: 30;

  &:before,
  &:after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    transition: $default-time width ease,  $default-time background ease;
    bottom: -1px;
    background: $dixie;
    z-index: -1;
  }
  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }

  &:hover{
    &:before,
    &:after {
      width: 100%;
      background: darken($dixie, 20%);
    }
  }
}

.first-slide h2{
  margin-bottom: 10px;
}

/*Heart*/
.heart-container {
  display: block;
  height: 500px;
  width: 100%;
  text-align: center;
  position: relative;
  min-width: 500px;
}

.heart {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
    margin-left: -17px !important;
  top: 250px;
  background-color: red;
  animation: heart-animation 1s ease infinite;
  &:after,
  &:before {
    content: ' ';
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    background-color: red;
  }
  &:before {
    left: 0px;
    top: -14px;
  }
  &:after {
    left: 14px;
  }
}

.circle {
  box-sizing: border-box;
  display: block;
  height: 300px;
  width: 300px;
  position: absolute;
  padding-top: 122px !important;
  text-align: center;
  border-radius: 50%;
  border: 5px solid $lochmara !important;

  span {
    font-weight: bold;
    color: $dixie;
  }
  &.circle-CSS {
    left: 320px;
  }
  &.circle-JS {
    left: 415px;
    top: 177px;
  }
  &.General {
    top: 177px;
    left: 224px;
  }
}

@keyframes heart-animation {
  0%, 100% {
    transform: scale(1.2) rotate(-45deg);
  }

  50% {
    transform: scale(1.5) rotate(-45deg);
  }
}

/*Pretty Print*/
.prettyprint {
  border-radius: $common-border;
  border-left:  5px solid $royal-blue !important;
  padding: 15px 10px !important;
  max-height: 500px;
  background-color: $cornflower-blue;
  overflow-x: auto;

  span {
    font-size: 18px;
  }

  .kwd, .tag {
    color: $alizarin-crimson;
  }

  .pln, .atn {
    color: $paradiso;
  }

  .pun, .opn, .clo, .atv {
    color: $royal-blue;
  }
}


/*Special*/
.button {
  border: 1px solid black !important;
  font-size: 14px !important;
  padding: 5px !important;
  border-radius: 5px;
  text-decoration: none;
  color: blue;
  cursor: pointer;

  &.blue {
    border-color: $royal-blue !important;
    background: $royal-blue;
    color: white;
    &:hover {
      background: darken($royal-blue, 20%);
    }
  }
  &.orange {
    border-color: $dixie !important;
    background: $dixie;
    color: white;
    &:hover {
      background: darken($dixie, 20%);
    }
  }
}

a.button-for-header {
  border: 1px solid black;
  background: white;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
a.button-for-header.blue {
  border-color: #3b78e7;
  background: #3b78e7;
  color: white;
}
a.button-for-header.blue:hover {
  background: #865b11;
}
